*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

/* ------------------ Main Page Div ------------------- */

.mainDivMainPage{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    color: black;
}
.navBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navBarHeading{
    /* width: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginAndCreateAccountDiv{
    margin-right: 40px;
}

.logoImage{
    width: 70px;
}

.headingPara{
    font-size: 30px;
    font-weight: 600;
}

.loginBtn{
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 20px;
    background-color: white;
    border: solid 1px black;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.createAccountBtn{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to right, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.createAccountBtn:hover{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to left, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
}

.bookingInfoDivMain{
    width: 100%;
    height: 80vh; /* Adjust the height as needed */
    padding: 20px 50px;
}

.bookingInfoDiv{
    position: relative;
    width: 100%;
    height: 80vh; /* Adjust the height as needed */
    background: url('/Assets/hotelbookingimages.png') no-repeat center center/cover;
    /* display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; */
    border-radius: 20px;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Black overlay with 50% opacity */
    display: flex;
    align-items: center;
    color: white; 
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
}



.bookingParaIntro{
    width: 800px;
    font-size: 60px; /* Adjust the font size as needed */
    color: rgb(217, 217, 217);
    font-weight: 600;
    margin-top: 20px;
}

.bookingParaIntro1{
    width: 870px;
    font-size: 22px; /* Adjust the font size as needed */
    color: rgb(217, 217, 217);
    margin-top: 20px;
}

.bookingInfoInputDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.destinationInputFieldDiv{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.destinationInputFieldDiv p{
    margin-left: 5px;
    font-size: 20px;
}

.destinationInputField{
    padding: 10px;
    width: 20vmax;
    font-size: 19px;
    border-radius: 15px;
    border: solid 1px white;
    background-color: transparent;
    outline: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

.destinationInputField::placeholder{
    color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
}

.checkInInputFieldDiv{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    margin-left: 40px;
}


.checkInInputFieldDiv p{
    margin-left: 5px;
    font-size: 20px;
}

.checkInInputField{
    padding: 10px;
    width: 18vmax;
    font-size: 19px;
    border-radius: 15px;
    border: solid 1px white;
    background-color: transparent;
    outline: 0;
    /* color: white; */
    color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.checkInInputField::placeholder{
    color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
}

.checkInInputField::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
    color: rgb(199, 199, 199);
}

.guestInputFieldDiv{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    margin-left: 40px;
}


.guestInputFieldDiv p{
    margin-left: 5px;
    font-size: 20px;
}

.searchBtnDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.searchBtn{
    padding: 12px;
    width: 11vmax;
    font-size: 17px;
    border-radius: 25px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to right, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
}

.searchBtn:hover{
    padding: 12px;
    width: 11vmax;
    font-size: 17px;
    border-radius: 25px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to left, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
}

.customToast {
    background-color: rgb(73, 127, 254) !important;
  }

/* ------------------------- login Page ------------------------  */

.loginPageMainDiv{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
}