*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body{
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
}

/* ------------------ Main Page Div ------------------- */

.mainDivMainPage{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    color: black;
}
.navBar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.navBarHeading{
    /* width: 20%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginAndCreateAccountDiv{
    margin-right: 40px;
}

.logoImage{
    width: 70px;
}

.headingPara{
    font-size: 30px;
    font-weight: 600;
}

.loginBtn{
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 20px;
    background-color: white;
    border: solid 1px black;
    cursor: pointer;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.createAccountBtn{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to right, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.createAccountBtn:hover{
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 20px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to left, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
}

.bookingInfoDivMain{
    width: 100%;
    height: 80vh; /* Adjust the height as needed */
    padding: 20px 50px;
}

.bookingInfoDiv{
    position: relative;
    width: 100%;
    height: 80vh; /* Adjust the height as needed */
    background: url('/Assets/hotelbookingimages.png') no-repeat center center/cover;
    /* display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; */
    border-radius: 20px;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Black overlay with 50% opacity */
    display: flex;
    align-items: center;
    color: white; 
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
}



.bookingParaIntro{
    width: 800px;
    font-size: 60px; /* Adjust the font size as needed */
    color: rgb(217, 217, 217);
    font-weight: 600;
    margin-top: 20px;
}

.bookingParaIntro1{
    width: 870px;
    font-size: 22px; /* Adjust the font size as needed */
    color: rgb(217, 217, 217);
    margin-top: 20px;
}

.bookingInfoInputDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.destinationInputFieldDiv{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
}

.destinationInputFieldDiv p{
    margin-left: 5px;
    font-size: 20px;
}

.destinationInputField{
    padding: 10px;
    width: 20vmax;
    font-size: 19px;
    border-radius: 15px;
    border: solid 1px white;
    background-color: transparent;
    outline: 0;
    color: white;
    font-family: "Poppins", sans-serif;
}

.destinationInputField::placeholder{
    color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
}

.checkInInputFieldDiv{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    margin-left: 40px;
}


.checkInInputFieldDiv p{
    margin-left: 5px;
    font-size: 20px;
}

.checkInInputField{
    padding: 10px;
    width: 18vmax;
    font-size: 19px;
    border-radius: 15px;
    border: solid 1px white;
    background-color: transparent;
    outline: 0;
    /* color: white; */
    color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}

.checkInInputField::placeholder{
    color: rgb(199, 199, 199);
    font-family: "Poppins", sans-serif;
}

.checkInInputField::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
    color: rgb(199, 199, 199);
}

.guestInputFieldDiv{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    margin-left: 40px;
}


.guestInputFieldDiv p{
    margin-left: 5px;
    font-size: 20px;
}

.searchBtnDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.searchBtn{
    padding: 12px;
    width: 11vmax;
    font-size: 17px;
    border-radius: 25px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to right, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
}

.searchBtn:hover{
    padding: 12px;
    width: 11vmax;
    font-size: 17px;
    border-radius: 25px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to left, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
}

.customToast {
    background-color: rgb(73, 127, 254) !important;
  }

/* ------------------------- login Page ------------------------  */

.loginPageMainDiv{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginPageDiv{
    width: 50vmax;
    height: 500px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 30px;
}

.loginPageDiv1{
    width: 25vmax;
    height: 100%;
    background-color: #0074ff;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
    background-image: url("/Assets/hotelbookingimages.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Black overlay with 50% opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: 500;
    text-align: center;
}

.loginPara1{
    font-size: 35px;
}

.loginPara2{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.loginPageDiv2{
    width: 25vmax;
    height: 100%;
    background-color: rgb(23, 23, 23);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
    padding: 40px 30px;
}

.signInPara{
    font-size: 28px;
}

.emailInputDiv{
    width: 100%;
    margin-top: 50px;
}

.emailInputField{
    width: 100%;
    padding: 15px;
    outline: 0;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    background-color: transparent;
    border: solid 2px rgb(202, 202, 202);
    color: white;
    border-radius: 10px;
}

.emailInputDiv p{
    font-size: 19px;
}

.passwordInputDiv{
    width: 100%;
    margin-top: 20px;
}

.passwordInputDiv p{
    font-size: 19px;
}

.signInBtnInputDiv{
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signInBtn{
    padding: 10px;
    width: 9vmax;
    font-size: 17px;
    border-radius: 25px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to right, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
}

.backToSignINBtn{
    padding: 10px;
    width: 9vmax;
    font-size: 14px;
    border-radius: 25px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to right, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.backToSignINBtn:hover{
    padding: 10px;
    width: 9vmax;
    font-size: 14px;
    border-radius: 25px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to left, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.emailInputDivCreateAccount{
    width: 100%;
    margin-top: 20px;
}


.emailInputDivCreateAccount p{
    font-size: 19px;
}

.createAccountBtn1{
    padding: 10px;
    width: 10vmax;
    font-size: 16px;
    border-radius: 25px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to right, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/* ----------------------------- ADMIN Page ----------------------------- */

.adminMainDiv{
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.adminPara1{
    font-size: 30px;
    border-radius: 10px;
}

.adminNavbar{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.addHotelBtn{
    width: 150px;
    padding: 10px 30px;
    font-size: 15px;
    background-color: transparent;
    color: black;
    border: solid 1px black;
    outline: 0;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

.addHotelBtn:hover{
    background: linear-gradient(to left, #0074ff, #00c6ff);
    border: 0;
    color: white;
}

.usersBtn{
    width: 150px;
    padding: 10px 30px;
    font-size: 15px;
    background-color: transparent;
    color: black;
    border: solid 1px black;
    outline: 0;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
}

.usersBtn:hover{
    background: linear-gradient(to left, #0074ff, #00c6ff);
    border: 0;
    color: white;
}

.adminNavButtonDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.hotelAddFormDiv{
    width: 100vw;
    height: 100vh;
}

.hotelInfoDiv1{
    width: 100vw;
    margin-top: 5vmax;
    padding: 0px 10px;
}

.hotelName{
    width: 40vw;
    padding: 13px 20px;
    margin-right: 10px;
    border: solid 1px black;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.hotelCity{
    width: 20vw;
    padding: 13px 20px;
    margin-right: 10px;
    border: solid 1px black;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.hotelState{
    width: 20vw;
    padding: 13px 20px;
    margin-right: 10px;
    border: solid 1px black;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.hotelInfoDiv2{
    width: 100vw;
    margin-top: 2vmax;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.hotelAddress{
    width: 42vw;
    padding: 13px 20px;
    margin-right: 10px;
    border: solid 1px black;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.hotelRoomPrice{
    width: 39vw;
    padding: 13px 20px;
    border: solid 1px black;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.hotelDescription{
    width: 41vw;
    height: 200px;
    resize: none;
    padding: 13px 20px;
    border: solid 1px black;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    margin-right: 20px;
}

.hotelImageDiv{
    width: 39vw;
    height: 200px;
    padding: 13px 20px;
    border: solid 1px black;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.uploadFileHeading{
    font-size: 17px;
    font-weight: 300;
    color: rgb(55, 55, 55);
}

.imageForm{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hotelInfoSubmitBtn{
    padding: 15px;
    width: 12vmax;
    font-size: 16px;
    border-radius: 30px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to right, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.hotelInfoSubmitBtn:hover{
    padding: 15px;
    width: 12vmax;
    font-size: 16px;
    border-radius: 30px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to left, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.imageInputField{
    margin-top: 40px;
}


.hotelDetailsHeading{
    font-size: 21px;
    margin-top: 70px;
    margin-bottom: -40px;
}

.copyPara1{
    margin-top: 10px;
}

.notePara1{
    color: red;
}

.hotelImgLinkInput{
    width: 20vmax;
    margin-top: 40px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

.usersList{
    width: 100%;
   padding: 30px;
   height: 100%;
   overflow-y: auto;
}

.usersDiv1{
    text-align: start;
    width: 100%;
    height: 100px;
    background-color: rgb(239, 239, 239);
    border-radius: 30px;
    color: black;
    margin-bottom: 20px;
    padding: 20px 0px;
    position: relative;
    border: solid 1px black;
}

.userNameAdminPage{
    font-size: 21px;
    margin-left: 30px;
    font-weight: 500;
}


.userEmailAdminPage{
    font-size: 18px;
    margin-left: 30px;
}



.deleteUserBtn{
    padding: 10px;
    width: 9vmax;
    font-size: 16px;
    border-radius: 30px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to right, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 88%;
    top: 30px;
}

.deleteUserBtn:hover{
    padding: 10px;
    width: 9vmax;
    font-size: 16px;
    border-radius: 30px;
    /* background-color:  #0074ff; */
    background: linear-gradient(to left, #0074ff, #00c6ff);
    border: 0;
    cursor: pointer;
    color: white;
    text-decoration: none;
    position: absolute;
    left: 88%;
    top: 30px;
}

.fontIconStyle{
    color:#0074ff;
    cursor: pointer;
}

.loginAndCreateAccountDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.userProfileBtn{
    padding: 10px;
    width: 8vmax;
    font-size: 15px;
    border-radius: 30px;
    /* background-color:  #0074ff; */
    border: solid 1px black;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.userProfileBtn:hover{
    padding: 10px;
    width: 8vmax;
    font-size: 15px;
    border-radius: 30px;
    background: linear-gradient(to left, #0074ff, #00c6ff);
    /* border: solid 1px black; */
    cursor: pointer;
    color: white;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.logoutBtn{
    padding: 10px;
    width: 8vmax;
    font-size: 15px;
    border-radius: 30px;
    /* background-color:  #0074ff; */
    border: solid 1px black;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoutBtn:hover{
    padding: 10px;
    width: 8vmax;
    font-size: 15px;
    border-radius: 30px;
    background: linear-gradient(to left, #0074ff, #00c6ff);
    /* border: solid 1px black; */
    cursor: pointer;
    color: white;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.usernamePara{
    font-size: 31px;
    font-weight: 800;
    margin-left: 90px;
    margin-top: 20px;
}

.userEmailPara{
    font-size: 21px;
    font-weight: 500;
    margin-left: 90px;
}

.listOfHotelDivMain{
    width: 100%;
    padding: 40px 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hotelBookDiv{
    width: 100%;
    height: 40vh;
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.hotelImgDiv{
    width: 27%;
    height: 100%;
    padding: 20px;
}

.hotelImgDiv img{
    width: 100%;
    height: 100%;   
    border-radius: 20px;
}

.hotelInfoDiv{
    width: 70%;
    height: 100%;
    padding: 15px 30px;
    color: white;
}

.hotelNamePara{
    font-size: 31px;
    font-weight: 500;
}

.hotelAddressPara{
    font-size: 21px;
    font-weight: 200;
}

.hotelDescriptionPara{
    margin-top: 20px;
    margin-left: 5px;
    font-size: 18px;
}

.iconColor{
    color: #0074ff;
    margin-right: 10px;
}

.priceDivMain{
    width: 100%;
    height: 17vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.priceDiv{
    width: 80%;
    height: 100%;
}

.bookBtnDiv{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricePara{
    margin-top: 40px;
    margin-left: 5px;
    font-size: 27px;
}

.nightRoomPara{
    margin-left: 10px;
    font-size: 17px; 
    font-weight: 200;
}

.bookBtn{
    padding: 10px;
    width: 9vmax;
    font-size: 16px;
    border-radius: 30px;
    background: linear-gradient(to left, #0074ff, #00c6ff);
    /* border: solid 1px black; */
    cursor: pointer;
    color: white;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 30px;
}

.bookBtn:hover{
    padding: 10px;
    width: 9vmax;
    font-size: 16px;
    border-radius: 30px;
    background: linear-gradient(to right, #0074ff, #00c6ff);
    /* border: solid 1px black; */
    cursor: pointer;
    color: white;
    border: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 30px;
}

.hotelListDiv{
    width: 100%;
    margin-top: 30px;
    padding: 20px 90px;
}

.selectedHotelDiv{

    width: 100%;
    height: 30vh;
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    padding: 20px 30px;
    color: white;
    margin-bottom: 20px;
}

.priceAndCancelDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.noHotelBooked{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    color: black;
}